.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a2a2a;
  padding: 1rem 10%;
  white-space: nowrap;
  overflow: hidden;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.burger {
  display: none;
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 30px;
  color: #fcb8d2;
  cursor: pointer;
  z-index: 2;
}

.burger:hover {
  color: white;
}

.nav {
  width: 100%;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fcb8d2;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

@media only screen and (max-width: 768px) {
  .burger {
    display: block;
  }

  .header {
    flex-direction: column;
  }

  .nav > ul {
    flex-direction: column;
    gap: 1rem;
    margin: 1rem auto 0;
    width: 100%;
  }

  .nav > ul > li {
    margin: 0;
  }
  .nav[data-switch="false"] {
    height: 0;
    transform: translate(0, 60px);
    padding-bottom: 0vh;
    transition: 1s;
  }
  .nav[data-switch="true"] {
    height: 0;
    padding-bottom: 90px;
    transition: 1s;
  }
}
